.header {
  background-color: rgb(8, 131, 188);
  box-shadow: 0 0 10px grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 60px;
}

.left-content {
  display: flex;
  align-items: center; 
}

.title-text {
  color: white;
  font-size: 29px;
  font-weight: 500;
  margin-right: 15px;
  margin-left: 20px;
}

.front {
  color: white;
  font-size: 18px;
  margin-top: 25px;
}

button {
  background: transparent;
  border: none;
}

.menu-btn { 
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

mat-icon {
  color: white;
}

@media all and (min-width: 0) and (max-width: 400px) {
  .front {
    font-size: 13px;
    margin-left: 5px;
    margin: 0;
  }

  .title-text {
    font-size: 20px;
    margin: 0;
  }

  .left-content {
    display: flex;
    flex-direction: column; /* Располагает элементы вертикально */
    align-items: flex-start; /* Выравнивает элементы по левому краю */
    margin-left: 20px; /* Отступ слева */
  }
  
}

@media all and (min-width: 401px) and (max-width: 470px) {
  .front {
    font-size: 15px;
    margin-left: 8px;
    margin: 0;
  }

  .title-text {
    font-size: 25px;
    margin: 0;
  }

  .left-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 20px; 
  }
}


