.blueText {
  color: rgb(8, 131, 188);
  font-weight: 500;
  font-size: 17px;
}

mat-card {
  margin-top: 20px;
  box-shadow: 0 0 10px rgb(130, 130, 130);
  padding-bottom: 9px;
  align-items: center;
}

mat-card-content {
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}

mat-card-title {
  font-weight: 500;
  color: rgb(8, 131, 188);
  font-size: 24px;
  margin-top: 15px;
}

p {
  text-align: center;
  font-size: 17px;
}

.first, .second, .third, .fourth {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-decoration: none;
}

.dark-theme-color {
  color: white;
}

.dark-theme-color-mat-card {
  box-shadow: 0 0 10px rgb(31, 31, 31);
}

.dark-theme-color-blue-text {
  color: rgb(45 169 208);
}


@media all and (min-width: 0) and (max-width: 470px) {

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .first, .second, .third, .fourth {
    width: 100%;
    padding-left: 15px;
  }

  p, a {
    font-size: 14px;
    word-wrap: break-word;
    max-width: 100%;
  }

  .blueText {
    font-weight: 500;
    font-size: 16px;
  }

  mat-card-title {
    margin-bottom: 0px;
    font-size: 22px;
  }
}


@media all and (min-width: 471px) and (max-width: 950px) {

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .first, .second, .third, .fourth {
    width: 100%;
    padding-left: 60px;
  }

  p, a {
    font-size: 16px;
    word-wrap: break-word;
    max-width: 100%;
  }

  .blueText {
    font-weight: 500;
    font-size: 16px;
  }

  mat-card-title {
    margin-bottom: 0px;
    font-size: 22px;
  }
}
