<mat-card>
  <mat-card-header>
    <mat-card-title>Education/Courses</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="first">
      <p class="blueText"> Education: </p>
      <p>Odesa National University of Technology, Computer Science (2024-now) </p>
    </div>
    <div class="second">
      <p class="blueText"> Code Club: </p>
      <p>JavaScript (09/2020-01/2021)</p>
    </div>
    <div class="third">
      <p class="blueText"> Code Club: </p>
      <p>HTML5 and CSS3(09/2021-01/2022)</p>
    </div>
  </mat-card-content>
</mat-card>