<mat-card [class.dark-theme-color-mat-card]="darkTheme">
  <div>
    <img src="assets/images/irina.jpg" class="picture" alt="irina">
  </div>
  <div class="header-description">
    <mat-card-header>
      <mat-card-title class="title">Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Web Developer with experience of building web applications using modern technologies
        Angular, TypeScript, RxJS, JavaScript, HTML5 and CSS3
      </p>
    </mat-card-content>
  </div>
</mat-card>
